{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container">
        <div class="m-3">
            <a href="{% url 'webapp:book_create' %}" class="btn btn-info d-block m-auto w-75" role="button">Добавить
                книгу</a>
        </div>
        <div class="row justify-content-around">
            {% for book in book_list %}
                <div class="col-lg-6 m-auto">
                    <div class="card mb-3 mt-2" style="max-width: 30rem;">
                        {% if book.cover %}
                            <img class="card-img-top" src="{{ book.cover.url }}" alt="Card image cap">

                        {% else %}
                            <img src="{% static 'images/no-book-cover.png' %}" alt="">
                        {% endif %}

                        <a href="{% url 'webapp:author_detail' book.author.pk %}"
                           class="text-center">{{ book.author.full_name }}</a>

                        <div class="card-body">
                            <h5 class="card-title text-center">{{ book.name }}</h5>
                            <p class="card-text">{{ book.description }}</p>

                            <div class="m-2">
                                <a href="{% url 'webapp:book_update' book.pk %}"
                                   class="badge badge-primary">Редактировать</a>
                                <a href="{% url 'webapp:book_delete' book.pk %}"
                                   class="badge badge-danger">Удалить</a>

                                <form action="" method="post" onsubmit="return false;">
                                    {% csrf_token %}
                                    <button data-url="{% url 'webapp:add_book' %}"
                                            onclick="dataPost({{ book.pk }});"
                                            class="badge badge-success" type="button">Добавить книгу на полку
                                    </button>
                                </form>
                            </div>
                            <a href="{% url 'webapp:book_download' book.pk %}">Загрузить книгу</a>
                            <p class="card-text">
                                <small class="text-muted">{{ book.published_date }}</small>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% block scripts %}
        <script src="{% static 'js/book_add_ajax.js' %}"></script>
    {% endblock %}
{% endblock %}